@media screen and (min-width: 350px) and (max-width: 400px) {
  .nav-menu {
    top: 14% !important;
  }

  .navbar .logo {
    padding-left: 20px;
  }
  .navbar .logo img {
    width: 110px;
  }
  .navbar .p-1 {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
  }

  .navbar .p-1 {
    padding-right: 6px;
  }
  .heading h1 {
    font-size: 30px !important;
  }
  .heading .line-1 {
    left: -51% !important;
  }
  .text-1 p {
    font-size: 15px;
  }
  .text-1 span {
    font-size: 15px;
  }
  .text-1 img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-top: 8px;
  }

  .image .img-1 {
    display: none;
  }

  .image .img-2 {
    display: none;
  }
  .image .img-3 {
    display: none;
  }
  .service .image-1 {
    display: none;
  }
  .service hr {
    width: 100px !important;
  }
  .items {
    left: 15%;
  }

  .item img {
    width: 70px;
    height: 61px;
  }
  .item span {
    font-size: 16px;
  }
  .item p {
    font-size: 16px;
  }

  .title h1 {
    font-size: 18px !important;
  }
  .title {
    left: 3%;
  }

  .Page-gallery .title h2 {
    font-size: 30px;
  }
  .Page-gallery .title {
    left: -47%;
  }
  .select-box {
    margin: 134px -24px;
  }
  .Page-gallery .box {
    display: none;
  }
  .card-work {
    top: 88%;
    left: 4%;
  }
  .box-footer {
    max-width: 360px;
  }
  .Page-gallery .title h2 {
    font-size: 20px;
  }
  .box-footer .text-0 p {
    margin-top: 40px;
    margin-left: 5px;
  }
  .title-card p {
    position: absolute;
    top: 90%;
    right: 10%;
  }

  .btn-3 {
    left: 19%;
  }
  .list {
    gap: 8px;
    left: 12%;
    text-align: center;
  }
  .title-card {
    top: 0%;
    left: 14%;
  }
  .btn-3 {
    position: absolute;
    top: 68%;
    left: 16%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  .butn {
    display: flex;
    gap: 20px;
  }
  .select-box {
    align-items: center;
    justify-content: center;
  }
  .slider-container {
    display: none;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .nav-menu {
    top: 11% !important;
  }
  .navbar .logo {
    padding-left: 20px;
  }
  .navbar .logo img {
    width: 110px;
  }
  .navbar .p-1 {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
  }

  .navbar .p-1 {
    padding-right: 6px;
  }
  .heading h1 {
    font-size: 30px !important;
  }
  .heading .line-1 {
    left: -51% !important;
  }
  .text-1 p {
    font-size: 15px;
  }
  .text-1 span {
    font-size: 15px;
  }
  .text-1 img {
    width: 60px;
    height: 60px;
  }
  .image .img-1 {
    display: none;
  }

  .image .img-2 {
    display: none;
  }
  .image .img-3 {
    display: none;
  }
  .title {
    left: 5%;
  }
  .title h1 {
    font-size: 20px !important;
  }
  .service hr {
    width: 150px !important;
    right: 5%;
  }
  .service .image-1 {
    display: none !important;
  }
  .items {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10%;
  }
  .item span {
    font-size: 16px;
  }
  .item p {
    font-size: 16px;
  }
  .item img {
    width: 70px;
    height: 61px;
  }

  .Page-gallery .title h2 {
    font-size: 30px;
  }
  .Page-gallery .title {
    left: -20%;
  }
  .select-box {
    margin: 134px -24px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Page-gallery .box {
    display: none;
  }
  .card-work {
    top: 88%;
    left: 0%;
    justify-content: center;
  }
  .box-footer {
    max-width: 360px;
  }
  .Page-gallery .title h2 {
    font-size: 24px;
  }
  .box-footer .text-0 p {
    margin-top: 40px;
    margin-left: 5px;
  }
  .title-card p {
    position: absolute;
    top: 90%;
    right: 10%;
  }

  .btn-3 {
    left: 19%;
  }
  .list {
    gap: 8px;
    left: 12%;
    text-align: center;
  }
  .title-card {
    top: 0%;
    left: 14%;
  }
  .btn-3 {
    position: absolute;
    top: 68%;
    left: 16%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  .slider-container {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 800px) {
  .nav-menu {
    top: 9% !important;
  }
  .service .image-1 {
    display: none;
  }
  .title {
    left: 13%;
  }
  .items {
    left: 27%;
  }
  .image .img-1 {
    right: 64%;
  }
  .image .img-2 {
    top: 46% !important;
  }
  .image .img-3 {
    right: 28%;
  }
  .Page-gallery .box {
    display: none;
  }
  .item img {
    width: 70px;
    height: 61px;
  }
}

@media (min-width: 767px) and (max-width: 1450px) {
  .heading h1 {
    font-size: 40px;
  }
  .heading .line-1 {
    left: -39%;
  }
  .text-1 p {
    font-size: 20px;
  }
  .text-1 span {
    font-size: 20px;
  }

  .item span {
    font-family: Open Sans;
    font-size: 16px;
  }
  .item p {
    font-family: Open Sans;
    font-size: 16px;
  }

  .Page-gallery .box {
    top: 70%;
    right: 15%;
  }
  .select-box {
    margin: 67px 37px;
  }

  .card-work {
    top: 80%;

    left: 24%;
    position: absolute;

    flex-direction: column;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1030px) {
  .nav-menu {
    top: 15% !important;
  }
  .items {
    left: 52%;
  }
  .title h1 {
    font-size: 17px !important;
  }
  .select-box {
    margin: 133px -21px;
  }
  .Page-gallery .box {
    top: 71%;
  }
  .card-work {
    top: 82%;
  }
}

@media screen and (min-width: 1050px) and (max-width: 1200px) {
  .nav-menu {
    top: 13% !important;
  }

  .Page-gallery .box {
    top: 70%;
  }
  .card-work {
    top: 82%;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1290px) {
  .nav-menu {
    top: 16% !important;
  }
  .Page-gallery .box {
    top: 67%;
  }
  .select-box {
    margin: 134px -1px;
  }
  .card-work {
    top: 77%;
  }
}
/* for Desktop view  */
@media screen and (max-width: 1300px) {
  .nav-menu {
    position: absolute;
    background-color: #002b45;
    top: 12%;
    left: 0;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 20px;
    z-index: 99999999;
  }

  .nav-menu button {
    margin-left: 0;
  }
  .heading h1 {
    font-size: 45px;
  }
  .heading .line-1 {
    left: -37%;
  }

  .image .img-2 {
    top: 36%;
    left: 62% !important;
  }

  .items {
    top: 36%;
  }
  .service .image-1 {
    top: 0%;
  }
  .service hr {
    width: 400px;
    height: 1px;
    position: absolute;
    top: 27%;
    right: 0%;
  }
  .title h1 {
    font-family: Lora;
    font-size: 24px;
  }
  .service {
    margin-top: -39px;
  }
}

@media screen and (min-width: 1320px) {
  .nav-menu {
    display: flex;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
    align-items: center;
  }

  .nav-menu a {
    display: inline-block;
    padding: 10px;
  }

  .hamburger-menu {
    display: none;
  }
  .select-box {
    margin: 134px 113px;
  }
}



@media screen and (min-width: 1350px) and (max-width: 1375px) {
  .select-box {
    margin: 134px 20px !important;
  }
}

@media screen and (min-width: 1530px) and (max-width: 1600px) {
  .card-work {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    left: 12%;
    position: absolute;
    top: 71%;
  }
}

@media screen and (min-width: 1322px) and (max-width: 1700px) {
  .service hr {
    width: 400px;
    height: 1px;
    position: absolute;
    top: 27%;
    right: 0%;
  }
  .select-box {
    margin: 134px -11px;
  }
}
