*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oranienbaum', serif;
font-family: 'Roboto Mono', monospace;


}
body {
  overflow-x: hidden;
}

:root {
 /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #002B45E5;
  --second-color: #FFFFFF;
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);
  --black-color:hsla(0%,0%,0%,1);
  --card-color:#FBF6EF;
  
}

header {
  width: 100%;
  position: relative;
  background-image: url(image/image-0-6595b3c0c48b3.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 125vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

   
a{ 
  text-decoration: none; 
  color: var(--second-color);
  font-size: 14px ; 
  font-weight: bold; 
} 

/* navbar styling */

.navbar{
  display: flex;
  height: 125px;
  justify-content: space-around;
  align-items: center;
  background-color: var(--first-color);
  width: 100%;
  animation: fadeIn 3s ease-out;
  -webkit-animation: fadeIn 3s ease-out;
} 



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.navbar .p-1 {
  padding-right: 20px;
}
.navbar .p-1   {
font-family: Open Sans;
font-size: 14px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
text-align: center;



}
.navbar .p-1 span {
  font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;



}
.logo {
padding-left: 30px;
}
/* logo style  */
.logo img{ 
  width: 184px ; 
  height: 58px; 

} 

.hamburger-menu{ 
  padding-right: 24px;
  cursor: pointer;
  font-size: 32px;
  color:var(--second-color);
} 




.nav-menu a{ 
  display: block; 
  text-align: center; 
  padding: 15px;



font-family: Open Sans;
font-size: 14px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;

} 
.nav-menu button {
  width: 183px;
  height: 49px;
  background: none;
  border: 1px solid #FFFFFF;
  color: var(--second-color);
  text-align: center;
  padding: 15px 26px ;
  cursor: pointer;

font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
margin-left: 30px;

}


.hide{ 
  display: none; 
} 

header .heading {
  display: flex;
  flex-direction: column;
  
  justify-content: flex-start;
  position: absolute;
  align-items: center;
  top: 30%;
  left: 4%;
  flex-wrap: wrap;
}
.heading .line-1 {
  width: 191px;
  height: 1px;
  background-color: var(--second-color);
  position: absolute;
  top: 54%;
  left: -28%;


}
.heading h1 {
  font-family: Lora;
  font-size: 64px;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: 0em;
  animation: fadeIn 3s ease-out;
  color: var(--second-color);
  -webkit-animation: fadeIn 3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.text-1 {
  display: flex;
  gap: 30px;
  position: absolute;
  top: 110%;
  left: 1%;

}
.text-1 img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.text-1  p {
  font-family: Open Sans;
font-size: 28px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
color: var(--second-color);

}
.text-1 span {


font-family: Open Sans;
font-size: 28px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0em;


}
.text-2 {
  position: absolute;
  top: 170%;
  left: 1%;
 
  display: flex;
}
.text-2 p {
  color:var(--second-color);
  font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;

}
.text-2 img {
  margin-top: 6px;
  width: 34px;
    height: 64px;
    object-fit: cover;
}

.btn-2 {
  padding: 18px 32px;
  background: none;
  color: var(--second-color);
  text-align: center;
  border: 1px solid var(--second-color);
  position: absolute;
  top: 195%;
  left: 1%;
  width: 203px ;
  height: 58px ;
}

header .image  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image .img-1 {
  position: absolute;
  top: 18%;
  right: 71%;
  width: 239px;
  height: 86px;
  object-fit: cover;
  

}

.image .img-2 {

  position: absolute;
  top: 44%;
  left: 60%;
  width: 281px;
  height: 86px;
  object-fit: cover;
}

.image .img-3 {
  position: absolute;
    bottom: 26%;
    right: 42%;
    width: 230px;
    height: 86px;
    object-fit: cover;
}

/* ------------------------------------------------ */



.service {
  max-width: 1918px;
  height: 405px;
  position: relative;
  background-color: var(--for-color);
  display: flex;
 
  align-items: center;
}
.title {
  position: absolute;
    left: 42%;
    top: 21%;
  display: flex;
  align-items: center;
}


.service hr {

  
  background-color: var(--first-color);
    width: 1013px;
    height: 1px;
 
    position: absolute;
    top: 27%;
    right: -36%;
  

}
  
.title h1 {
  font-family: Lora;
font-size: 36px;
font-weight: 700;
line-height: 43px;
letter-spacing: 0em;
text-align: left;
width: 381px;
height: 43px;


}

.service .image-1 {
  position: absolute;
  left: 20;
  left: 0;
}
.service .image-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.items {
  display: flex;
  align-items: center;
  position: absolute;
  left: 42%;
  gap: 30px;
  flex-wrap: wrap;
  top: 50%;

  
}

.items .item {
  display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.item img {
  margin-bottom: 30px;

}
.item p {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.item span {
 

font-family: Open Sans;
font-size: 24px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0em;
text-align: left;

}


/* End Service  */

/* ==================================== */





/* Start Page */




.Page-gallery {
  padding: 50px;
  position: relative;
  margin-top: 150px;
}
.Page-gallery .title {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 20px;
  gap: 28px;

  position: absolute;
  left: -5%;
  flex-wrap: wrap;
  top: 7%;
}
.Page-gallery .line {
  height: 1px;
  width: 191px;
  background-color: var(--first-color);
}


.Page-gallery .title h2 {
 color: var(--first-color);
  font-family: Lora;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  
}

.Page-gallery .box {
  width: 365px;
  height: 415px;
  position: absolute;
  border: 1px solid var(--first-color);
  right: -3%;
}

.select-box {
  margin: 134px 37px;
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.select-btn {
  display: flex;
  height: 58px;
  width: 207px;
  align-items: center;
  padding: 0 16px;
  justify-content: space-around;
  background-color:var(--first-color);
  cursor: pointer;

  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.select-btn-0 {
  display: flex;
  height: 58px;
  width: 207px;
  align-items: center;
  padding: 0 16px;
  justify-content: space-around;
  cursor: pointer;
  border: 1px solid var(--first-color);
  background: none;

  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.select-btn-1 {
  display: flex;
  height: 58px;
  width: 137px;
  align-items: center;
  padding: 0 26px;
  justify-content: space-around;
  cursor: pointer;
  border: 1px solid var(--first-color);
  background: none;

  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.select-btn .btn-text {
  font-size: 17px;
  font-weight: 400;
  color:var(--second-color);
}
.select-btn .arrow-dwn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: 0.3s all;
}
.select-btn .arrow-dwn img {
  width: 23px;
height: 11px;
object-fit: cover;
}
.select-btn.open .arrow-dwn {
  transform: rotate(-180deg);

}


.select-btn.open ~ .list-items {
  display: block;
  position: absolute;
  margin-top: 70px;
  z-index: 8;
}
.select-btn-0 img {
  width: 23px;
  height: 11px;
  object-fit: cover;
}
.select-btn-1 img {
  width: 23px;
  height: 11px;
  object-fit: cover;
}
.list-items {
  position: relative;
  margin-top: 15px;
  display: none;
  padding: 16px;
  width: 207px;
  height: 209px;
 background-color: var(--second-color);
  box-shadow: inset 0 0 0.7px var(--first-color);
}
.list-items .item {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s all;
  border-radius: 8px;
  text-align: center;
}
.list-items .item:hover {
  background-color:var(--for-color);
}
.item .item-text {
  color:var(--one-color);

  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.item .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14px;
  width: 14px;
  border-radius: 3px;
  border: 1.5px solid #4d3131;
  margin-right: 12px;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.checkbox .check-icon {
  font-size: 11px;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}
.item.checked .checkbox {
  background-color: #015b91;
  border-color: #015b91;
}
.checkbox .check-icon {
  color: var(--three-color);
  font-size: 11px;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}
.item.checked .check-icon {
  transform: scale(1);
}

.butn .but-0 {
  width: 156px;
  height: 58px;
  border: none;
  margin-left: 46px;
  cursor: pointer;

  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}

.butn .but-1 {
  width: 148px;
  height: 58px;
  border: 1px solid var(--first-color);
  background: none;

  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}
.btn-3 .btn-1:hover{
  color: #F2A22E;
  border-color: #F2A22E;
}


/* ---------------------------------- */

/* Start-card-work */



 .card-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  left: 13%;
  position: absolute;
  top: 67%;

}


.box-footer {
  position: relative;
  width: 587.84px;
  height: 436px;
  background-color: var(--card-color);
  border: 1px solid #000000;
}

.title-card {
  padding: 20px;
  text-align: center;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  top: 7%;
  left: 20%;
}

.title-card h1 {
  font-family: Lora;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 50px;
}

.list {
  display: flex;
  gap: 20px;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 24%;
  justify-content: center;
}


.list .line-1 {
  width: 1px;
  height: 53px;
  background-color: #d9d9d9;
}

.list .line-2 {
  width: 1px;
  height: 53px;
  background-color: #d9d9d9;
}
.list-1,
.list-2,
.list-3 {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 10px;
}

.price {
  font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;


}
.box-footer .text-0 {
  position: absolute;
  left: 24%;
  top: 50%;
}

.box-footer .text-0 p {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #7c7c7c;
  margin-top: 40px;
}
.box-footer .text-0 p span {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.btn-3 {
  position: absolute;
  top: 72%;
  left: 23%;
  display: flex;
  gap: 10px;
}

.btn-3 .btn-0 {
  width: 161px;
  height: 58px;
  padding: 18px 32px ;
  background-color: #002b45;
  color: #ffff;
  cursor: pointer;
  text-transform: uppercase;

font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

}
.btn-3 .btn-1 {

  height: 58px;
  padding: 18px 32px ;
  background: none;
  border: 1px solid #002b45;
  color: #002b45;
  cursor: pointer;
  transition: 0.3s all;
  text-transform: uppercase;

font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;


}

.btn-3 .btn-1:hover{
  color: #F2A22E;
  border-color: #F2A22E;
}


/* Swiper */


.slider-container {
  position: relative;
  right: 29%;
  top: 14%;
  overflow: hidden;
}

.main-slide {
  position: relative;
  width: 288px;
  height: 336px;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.thumbnail-slider {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.slides {
  display: flex;
  gap: 10px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  flex-direction: row-reverse;
  width: 288px;
  height: 80px;
  background-color: #001623;
  padding: 10px;
  align-items: center;
  
}

.thumbnail-image {
  width: 61px;
  height: 54px;
  object-fit: cover;
  scroll-snap-align: start;
  cursor: pointer;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 33px;
  left: 15px;
  gap: 10px;
}

.prev-btn,
.next-btn {
  font-size: 24px;
  background: none;
  color: var(--second-color);
  border: none;
  cursor: pointer;
  margin-left: -2px;
  margin-bottom: -19px;

}


.slides-numbers {

  
 

  position: absolute;
  
  width: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}








  .active {
  color: var(--second-color);
 
  font-family: Lora;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;



  
}

.total {
  color: #9fa5ac;
  font-family: Lora;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
} 








